/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/public/uploads/convert/*
/public/uploads/original/*
/public/uploads/original/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
